pdfkit
markdown2
llama-index-core>=0.10.0
llama-index-llms-vertex

python-dotenv
tavily-python
yfinance
trafilatura
google-auth-oauthlib
google-api-python-client
streamlit
redis
tenacity
lxml_html_clean
html2image
matplotlib
numpy
pandas